.portfolio__container {
  
}

.portfolio__item {
  --border-radius: 15px;
  position: relative;
  border-radius: var(--border-radius);
  padding: 1px;
  background-image: radial-gradient(circle at top left, rgba(255, 255, 255, .33), rgba(255, 255, 255, 0) 20em);
  background-repeat: no-repeat;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.125);
  border: 1px solid rgba(255,255,255,.12);
  overflow: hidden;

  & h3 {
    font-size: clamp(1.75rem, calc(1rem + 2vw), 3rem);
    line-height: 1;
    margin: 0;
    margin-top: 30px;

    @media (width >= 960px) {
      margin-top: 0;
    }
  }
}

.light .portfolio__item {
  box-shadow: 1px 1px 15px rgba(0,0,0,0.033);
  background-image: radial-gradient(circle at top left, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0) 20em);
  border: 1px solid rgba(255,255,255,.33);
}

.portfolio__item-inner-container {
  position: relative;
  background: inherit;
  background: var(--bg);
  padding: 30px;
  transition: box-shadow .5s ease;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    opacity: .08;
    z-index: 0;
    background: linear-gradient(to right, var(--section-color-1), var(--section-color-2));
    transition: opacity .15s ease;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(to bottom right, rgba(255,255,255,.04), rgba(255,255,255,0));
    transition: background .5s ease;
  }

  @supports (color: hsl(from white h s l)) and (animation-timeline: scroll()) {
    &:before {
      background: linear-gradient(to right, hsl(from var(--section-color-1) mod(h + var(--hue), 360) s l), hsl(from var(--section-color-2) mod(h + var(--hue), 360) s l));
    }
  }
  
  @media (width >= 960px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    flex-wrap: wrap;
    gap: 30px
    
  }
}

.light .portfolio__item-inner-container {
  &:after {
    background: linear-gradient(to bottom right, rgba(255,255,255,.15), rgba(255,255,255,0));
  }
}

.portfolio__image {
  display: grid;
  position: relative;
  z-index: 1;
  place-content: center;
  aspect-ratio: 2 / 1;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  @media (width >= 960px) {
    place-content: start;
    aspect-ratio: initial;
    max-height: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.portfolio__details {
  position: relative;
  z-index: 1;
}

.portfolio__skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  list-style: none;
  margin: 15px 0;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  
  @media (width >= 640px) {
    grid-template-columns: repeat(8, 1fr);
    
  }
}

.portfolio__description {
  font-size: 1.125rem;

  @media (width >= 920px) {
    font-size: 1.25rem;
    grid-column: span 2;
  }
}