@import './reset.css';
/* vars */
@property --bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #151520;
};

@property --fg {
  syntax: "<color>";
  inherits: true;
  initial-value: #efeff5;
};

html {
  --bg: #151520;
  --fg: #efeff5;
  --content-width: 960px;
  background: var(--bg);
  color: var(--fg);
  transition: --bg .5s ease, --fg .5s ease;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

p+p {
  margin-top: 1.5em;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: #151520;
    --fg: #efeff5;
  }
}

html.dark {
  --bg: #151520;
  --fg: #efeff5;
}

@media (prefers-color-scheme: light) {
  html {
    --bg: #efeff5;
    --fg: #151520;
  }
}

html.light {
  --bg: #efeff5;
  --fg: #151520;
}

/* styles */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  min-height: 100%;
}

a {
  color: var(--fg);
}

.skip-to-content-link {
  background: #f5ff3d;
  color: #000;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

.theme-toggle {
  position: fixed;
  display: grid;
  align-content: center;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border: none;
  background: var(--bg);
  border: 2px solid var(--fg);
  border-radius: 50%;
  cursor: pointer;
}

.theme-toggle__icon {
  width: 35px;
  height: auto;
  fill: var(--fg);
  transition: none;
}