@property --hue {
  syntax: '<number>';
  inherits: true;
  initial-value: 300;
}

@keyframes scroll-watcher {
  to { --hue: 600 } /* increase to speed up gradient animation */
}

.page-section {
  --hue: 300;
  --initial-color-1: rgb(131, 156, 255);
  --initial-color-2: rgb(112, 255, 234);
  --section-color-1: var(--initial-color-1);
  --section-color-2: var(--initial-color-2);
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  position: relative;
  
  margin: 0;
  border-top: 1px solid var(--bg);


  &:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    opacity: .08;
    z-index: -1;
    background: linear-gradient(to right, var(--section-color-1), var(--section-color-2));
    transition: opacity .15s ease;
  }

  @supports (color: hsl(from white h s l)) and (animation-timeline: scroll()) {
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    &:before {
      background: linear-gradient(to right, hsl(from var(--section-color-1) mod(h + var(--hue), 360) s l), hsl(from var(--section-color-2) mod(h + var(--hue), 360) s l));
    }
  }

  @prefers-reduced-motion {
    animation: none;
  }
}

.page-section__foot-note {
  display: block;
  padding: 30px;
  margin: 30px 0 0;
  font-size: .875em;
  text-align: center;
}

.page-section:nth-child(3n + 2) {
  --section-color-1: hsla(from var(--initial-color-1) mod(h + 120, 360) s l);
  --section-color-2: hsla(from var(--initial-color-2) mod(h + 120, 360) s l);
}

.page-section:nth-child(3n + 3) {
  --section-color-1: hsla(from var(--initial-color-1) mod(h + 240, 360) s l);
  --section-color-2: hsla(from var(--initial-color-2) mod(h + 240, 360) s l);
}


.page-section__inner {
  padding: 10svh 30px;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

.page-section h2 {
  font-size: clamp(2.25rem, calc(1.75rem + 2.25vw), 4rem);
  line-height: 1;
  margin: 0 0 .67em;
}

.page-section {
  font-size: clamp(1.125rem, calc(1rem + .5vw), 1.5rem);
}

.image-grid__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 60px;
  row-gap: 30px;

  @media (min-width: 480px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 45px;
    row-gap: 30px;
    padding: 0;
  }
  
  @media (min-width: 540px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 45px;
    row-gap: 30px;
  }
  
  @media (min-width: 760px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  
  @media (min-width: 940px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

}

.image-grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.4;
  & img, & svg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    filter: drop-shadow(4px 3px 6px rgba(0, 0, 0, .35));
    transition: filter .15s ease;
  }
}

.light .image-grid__item {
  & img, & svg {
    filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.15));
  }
}

@media (prefers-color-scheme: light) {
  .image-grid__item {
    & img, & svg {
      filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.15));
    }
  }
}

.image-grid__image-container {
  position: relative;
  aspect-ratio: 1;
  display: grid;
  align-content: center;
  width: 100%;
}

.image-grid__label {
  display: inline-block;
  margin: .33em 0 0;
}